.about_container {
    width: 100%;
    height: 120vh;
    background-color: #f3efe5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.products_text {
    width: 100%;
    height: 20vh;
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.scrolling_text {
    display: flex;
    white-space: nowrap;
    gap: 50px;
    will-change: transform;
}

.products_text h2 {
    font-size: 2.5rem;
    font-family: "Caveat Brush", cursive;
    color: #215470;
    margin: 0;
}


.flavor_row {
    display: flex;
    gap: 50px;
    white-space: nowrap;
}

.flavor_item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2.5rem;
    font-family: "Caveat Brush", cursive;
    color: #215470;
}

.flavor_icon {
    width: 62px;
    height: 62px;
    object-fit: cover;
}

.about_content {
    width: 100%;
    height: 100vh;
    background-color: #f3efe5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 60px;
}

.about_text {
    color: #005570;
    flex: 1;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.5s, transform 0.5s;
    
}

.about_text h2 {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: "Caveat Brush", cursive;
}

.about_text p {
    font-size: 35px;
    margin-bottom: 8px;
    font-family: "Caveat Brush", cursive;
}

.about_image {
    flex: 1;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.5s, transform 0.5s;
}

.about_image img {
    width: 100%;
    max-width: 400px;
}




  