.products_container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 225, 174);
}

.products_main {
    width: 95%;
    margin: 0 auto;
    padding-top: 40px;
}

.products_main h2 {
    font-family: "Caveat Brush", cursive;
    font-size: 50px;
    color: white;
}

.products_display {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 0;
}

.product_box {
    position: relative;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    height: 70vh;
    background-color: #fff;
    transition: transform 0.2s ease;
}

.product_box:nth-child(1) {
    background-color: #7d7cb9;
}
.product_box:nth-child(2) {
    background-color: #ad90c7;
}
.product_box:nth-child(3) {
    background-color: #fff81f;
}
.product_box:nth-child(4) {
    background-color: #ffc04a;
}
.product_box:nth-child(5) {
    background-color: #ff5996;
}
.product_box:nth-child(6) {
    background-color: #ff696c;
}

.product_box:hover .product_img {
    transform: rotate(10deg);
}

.product_img {
    width: 280px;
    height: 470px;
    margin: 10px auto;
    display: block;
    transition: transform 0.3s ease;
}

.product_name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 40px;
    color: #215470;
    font-family: "Caveat Brush", cursive;
}

.info_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #555;
    font-family: "Caveat Brush", cursive;
}

.info_btn:hover {
    background-color: #215470;
    color: white;
    animation: bobble 0.8s ease;
}

@keyframes bobble {
    0% { transform: scale(1); }
    30% { transform: scale(1.2); }
    60% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

/* Dialog Overlay */
.dialog_overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transform: translate(-50%, -50%);
}

/* Dialog Image Box */
.dialog_img_wrapper {
    position: relative;
    max-width: 90%;
    max-height: 95%;
    overflow: hidden;
    border-radius: 12px;
}

.dialog_img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
    
}

/* Close Button */
.dialog_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
}

.dialog_close_btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 768px) {
    .products_display {
        grid-template-columns: repeat(1, 1fr);
    }

    .product_box {
        height: auto;
    }

    .dialog_overlay{
        top: 0;
        left: 0;
        transform: translate(-0%, -0%);
        width: 100%;
    }

    .dialog_img_wrapper{
        border: 1px solid white;
    }
}
